.order {
      display: flex;
      flex-direction: column;
      padding: 24px;
      color: #2c2d2e;
      background-color: #fff;

      &-header {
            width: 100%;
            margin-bottom: 30px;

            .top {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  margin-bottom: 10px;

                  >.left {
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        .order-title {
                              font-size: 25px;
                              font-weight: 700;
                              margin-right: 16px;
                        }




                  }

                  >.right {
                        .price-range {
                              font-size: 25px;
                              font-weight: 500;
                        }
                  }
            }
      }

      &-details {
            .top {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  >.left {}

                  >.right {
                        .orderer {
                              .title {
                                    font-size: 16px;
                                    font-weight: 600;
                              }

                              text-align: end;
                        }
                  }
            }
      }
}